*{
    padding:0;
    margin:0; 
    
}

.maju{
    position:fixed;
    left:100%;
    top:41px;
    width:60px;
    height:60px;
}

.maju img{
    width:60px;
    height:60px;
}

.step>div{
    height:100px;
    width:100%;
    border-bottom:1px solid black;
}

.fangma{
    width:100%;
    height:100px;
    text-align:center;
}

.fangma button{
    border:0;
    width:150px;
    height:40px;
    margin-top:20px;
}