*{
    padding:0;
    margin:0;
}

.screenmain{
    height:100vh;
    width:100%;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}

.set_ul{
    list-style-type:none;
}

.set_ul>li{
    float:left;
}

.scroll_content{
    height:100vh;
    width:100vw;
    max-width: 500px;
    overflow:hidden;
    position:relative;
    margin:auto;
}

.scroll{
    height:300vh;
}

@keyframes arrow_updown{
    0%{
        bottom:20px;
    }
    50%{
        bottom:10px;
    }
    100%{
        bottom:20px;
    }
}

.scroll_content .updown{
    width:100%;
    position:fixed;
    bottom:20px;
    animation:arrow_updown 2s infinite;
    max-width: 500px;
}

.scroll_content .updown img{
    display:block;
    margin:auto;
    width:30px;
}