.screenmain2{
    height:100vh;
    width:100%;
    background-image:url(https://dn-web-blued-cn.qbox.me/web/static/liveactivity/bg01-c4c787a4.jpg);
    background-size:cover;
    position: relative;
    overflow:hidden;
}

.screenmain2 img{
    display:block;
    margin:auto;
}

.screenmain2 .img1{
    width:80%;
    margin-top:15%;
    margin-bottom:15%;
}

.screenmain2 .img2{
    width:87%;
}

.screenmain2 .img1_action{
    animation:img1_action 1.2s;
}

.screenmain2 .img2_action{
    animation:img2_action 1.2s;
}

@keyframes img1_action{
    0%{
        transform:translateY(-200%);
    }
    80%{
        transform:translateY(-200%);
    }
}

@keyframes img2_action{
    0%{
        transform:translateY(400%);
    }
    30%{
        transform:translateY(100%);
    }
}