.rowstow{
    width:100%;
}

.rowstow>span{
    width:50%;
    display:inline-block;
    line-height:40px;
    text-align:left;
    text-indent:2em;
    overflow: hidden;
}

.rowstow span>input{
    width:40%;
}

.rowsone{
    width:100%;
    
}

.rowsone span p{
    width:100%;
    display:inline-block;
    line-height:40px;
    height:40px;
    text-align:left;
    text-indent:2em;
    overflow: hidden;
    word-break: break-all;
}

.log{
    width:100%;
    height:150px;
    overflow-y:scroll;
    border:1px solid #000;
}

.tongji{
    border:1px solid #000;
    margin-bottom:10px;
}