*{
    padding:0;
    margin:0;
}

.slidercontent{
    overflow:hidden;
    width:100%;
    position:relative;
}
.slidercontent>div::after{
    content:"";
    clear:both;
    display:block;
}

.slidercontent .slideimg{
    float:left;
    position:relative;
}

.slidercontent .slideimg img{
    width:100%;
}

.slidercontent .marginhide{
    left:-100%;
}